MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=breweries

BREWERY_API_URL=https://api.openbrewerydb.org/v1/breweries
API_PER_PAGE=200

SPARK_JARS_DIR=/opt/spark/jars